.form{
  margin: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 65%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  
}

.form-container .header {
  margin-top: 20px;
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-container .body {
  flex: 100%;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.form-container .footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: #2F48A7;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  margin: 10px 5px;
  margin: 5px;
}

.sign-up-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container .footer button:hover {
  
  background-color: #6880df;

}


.personal-info-container input {
  margin: 15px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

/* PROGRESS BAR */
.progressbar {
  width: 50%;
  height: 20px;
  background-color: white;
  margin-bottom: 50px;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: #2F48A7;
}

.other-info-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.other-info-container input {
  margin: 5px;
  width: 200px;
  height: 40px;
  padding-left: 5px;
  font-size: 20px;
}

.body input {
  border: 2px solid #2F48A7;
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
  width: 200px;
  display: inline-flex;
}
.body input[type="number"] {
	width: 150px;
}

input:focus {
  border: 3px solid #2F48A7;
}
.body input[type="date"]::before {
	color: #999999;
	content: attr(placeholder);
}
.body input[type="date"] {
	color: #ffffff;
}
.body input[type="date"]:focus,
input[type="date"]:valid {
	color: #666666;
}
.body input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
}

select{
  color: gray;
  border: 2px solid #2F48A7;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
}
/*Select option css*/
select:required:invalid {
  color: gray;
  border: 2px solid #2F48A7;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}