.tareoContainer{
    display: flex;
}
.tareoGeneral{
    flex: 6;
}
.modalTittle{
    display: block;
    width: 100%;
}
.time label{
    width: 100%;
    display: block;
    color: #2F48A7;;
    font-weight: 400;
}