/*CSS para componente NavBar*/
.navbar {
	height: 60px;
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #fff;
	background-color: #fff;
	border-radius: 2px;
	-webkit-box-shadow: 2px 1px 1px 1px rgba(189, 200, 230, 0.47);
    box-shadow: 1px 1px 5px 1px var(    --animacion-color);
    
}
.navbar .wrapper {
	width: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--principal-color);
}
.navbar .hamburguer{
	display: flex;
	font-weight: bold;
	font-size: 25px;
	margin-left: 25px;
}
.navbar .wrapper .part1{
	width: 35%;
	display: flex;
	justify-content: space-between;
}
.navbar .wrapper .search {
	margin-left: 15px;
	display: flex;
	width: 200px;
	border: 0.5px solid var(--principal-color);
	border-radius: 2px;
	padding: 3px;
	border-color: var(--principal-color);
	color: #000000;

	
}
.navbar .wrapper .search input {
	border: none;
	outline: none;
	
}
.navbar .wrapper .search input::placeholder {
	font-size: 12px;
	color: var(--principal-color);
	
}
.navbar .wrapper .items {
	display: flex;
	align-items: center;
}
.navbar .wrapper .items .item {
	display: flex;
	align-items: center;
	margin-right: 35px;
	position: relative;
	
}
.navbar .wrapper .items .item:hover {
	cursor: pointer;
	color: var( --animacion-color);
	
}
.navbar .wrapper .items .item .icon {
	font-size: 24px;
}

.navbar .wrapper .items .item .avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-color: var(--principal-color);
}
.navbar .wrapper .items .item .counter {
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
	color: var(--tipografia-de-contraste-principal-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: -5px;
	right: -5px;
}
/*Fin css para componente Navbar*/