.PreeBol{

}
.tablePreboleta{
  padding: 5px;
  width: 100%;
  height: 30%;
  border: 4px solid black;
  font-size: 16px;
}
.header h3{
  margin: auto;
  padding: 2px;
  font-size: 25px;
  margin-right: 200px;
  font-weight: bold;
}
.header{
  border-bottom: 4px solid black;
  display: flex;
}
.img_logo{
  width: 80px;
  height: 60px;
  padding: 10px;
  margin-left: 10px;
}
.table{
  padding: 10px;
  margin: 0;
}
.table .thHeaderA{
  text-align: center;
  background-color: #436422;
  color: #fff;
  font-weight: bold;
  border: 2px solid black;
}
.table .thHeader{
  text-align: center;
  background-color: #25294B;
  color: #fff;
  font-weight: bold;
  border: 2px solid black;
}
.table .tdBody{
  border: 2px solid black;
}
.table .cod{
  background: #409B12;
}
.tableDetalle{
  display: flex;
  justify-content: center;
  width: auto;
}
.table1{
  width: 48%;
}
.table1 h5{
  text-align: center;
  background-color: #25294B;
  width: 100%;
  color: #fff;
  padding: 5px;
  margin: 0;
  border: 2px solid black;
}
.table1body{
  border: 2px solid black;
  padding: 15px;
  height: 300px;
}
.tdDetalle{
  padding-left: 10px;
}
.tdDetalle .deta{
  padding-left: 10px;
}
.tableFooter{
   border: 2px solid black;
   display: flex;
}
.tableFooter .box1{
 text-align: center;
  background-color: #25294B;
  width: 70%;
  color: #fff;
  padding: 2px;
  margin: 0;
  border-right: 2px solid black;
}
.tableFooter .box2{
  width: 30%;
  text-align: center;
}
.neto{
  border: 2px solid black;
   display: flex;
   height: 40px;
}
.neto .neto1{
  text-align: center;
  font-weight: bolder;
  background-color: #25294B;
  width: 70%;
  color: #fff;
  padding: 2px;
  margin: 0;
  border-bottom: 1px solid black;
}
.neto .neto2{
  width: 30%;
  text-align: center;
  background-color: #D6D8D4 ;
  padding: 2px;
}
.observaciones{
  margin-left: 20px;
  font-weight: bold;
  margin-right: 20px;
}
.observacionesBox{
  width: 100%;
  height: 100px;
  border: 2px solid black;
}
.firmasContainer{
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.firmasContainer .firma{
  width: 50%;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}