.mainPlanilla{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
.generalPlanilla{
  position: relative;
      left: 240px;
    width: calc(100% - 240px);
}
.listPlanilla{  
    -webkit-box-shadow: 2px 4px 10px 1px rgba(189, 200, 230, 0.47);
    box-shadow: 2px 4px 15px 1px var(--principal-color);
    padding: 12px;
    margin: 20px;
    color: var(--principal-color);
    font-weight: bold;
    text-align: center;
}