.newPersonal{
  width: 100%;
}
.newCont{
   position: relative;
      left: 240px;
    width: calc(100% - 240px);
}
.personalContainer{
  width: 100%;
}
.personal-title{
  -webkit-box-shadow: 2px 4px 10px 1px rgba(189, 200, 230, 0.47);
    box-shadow: 2px 4px 15px 1px #2F48A7;
    padding: 20px;
    margin: 20px;
    color: #2F48A7;
    font-weight: bolder;
}
.newContainer{
  -webkit-box-shadow: 2px 4px 10px 1px rgba(189, 200, 230, 0.47);
    box-shadow: 2px 4px 15px 1px #2F48A7;
    padding: 20px;
    margin: 20px;
}