@import './../../css/paletadecolores.css';
.listContainerP{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}
 .listGeneralP{
    position: relative;
    left: 230px;
    width: calc(100% - 230px);
}
.listBodyP {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(189, 200, 230, 0.47);
    box-shadow: 2px 4px 15px 1px var(--principal-color);
    padding: 20px;
    margin: 20px;
}
.listTitle {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(189, 200, 230, 0.47);
    box-shadow: 2px 4px 15px 1px var(--principal-color);
    padding: 20px;
    margin: 20px;
    color: var(--principal-color);
    font-weight: bold;
    text-align: center;
}
